---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "_normalize";
@import "_skeleton";

html { font-size: 72.5%; }
body { padding-top: 6.5rem; }

.navbar {
  background: #ffffff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 3.0rem;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}

.blurbs { padding-top: 8.0rem; }

.blurb-heading {
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {

  html { font-size: 66.5%; }

}

@media only screen and (max-width: 768px) {

  body { padding-top: 0; }
  .blurbs { padding-top: 4.0rem; }

  .navbar-item {
    float: none;
    border-bottom: 1px solid #eee;
  }

  .navbar { position: relative; }
  .navbar-item:last-child { border-bottom: 0px; }
  .navbar-link { line-height: 4.5rem; }

}
