---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "_normalize";
@import "_skeleton";

$light-blue: #3498D8;
$dark-blue: #2C3E50;
$blue: #2980B9;
$red: #E74C3C;
$white: #ECF0F1;

html { font-size: 72.5%; }
body { padding-top: 6.5rem; }

.red { color: $red; }
.blue { color: $blue; }
.dark-blue { color: $dark-blue; }

.navbar {
  background: #ffffff;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 3.0rem;
  text-decoration: none;
  line-height: 6.0rem;
  color: #222;
}

.hero {
  padding: 6rem 0;
}

.hero-heading {
  color: $dark-blue;
}

.hero-logo-container {
  text-align: center;
}

.hero-logo {
  width: 60%;
  box-sizing: border-box;
  position: relative;
  top: -1rem;
}

.rocks {
  position: relative;
  padding: 8rem 0;
  width: 100%;
  height: 100%;
  background: url('https://download.unsplash.com/35/HHEvkhEsQLaNDRkui4fg_fullsize.jpg') center center no-repeat;
  background-size: cover;
  color: #ffffff;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,$dark-blue,$blue);
    opacity: .7;
  }
}

.blurb-heading { color: $light-blue; }
.footer { padding: 4rem 0; }

@media only screen and (max-width: 1024px) {

  html { font-size: 66.5%; }

}

@media only screen and (max-width: 768px) {

  body { padding-top: 0; }

  .navbar-item {
    float: none;
    border-bottom: 1px solid #eee;
  }

  .navbar { position: relative; }
  .navbar-item:last-child { border-bottom: 0px; }
  .navbar-link { line-height: 4.5rem; }

}
