<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  {{ content }}

  <div class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link" href="#sup">
            Home
          </a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#sup">
            Staff
          </a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#sup">
            Aesthetics
          </a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#sup">
            Policies
          </a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#sup">
            Portal
          </a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#sup">
            Favorites
          </a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#sup">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="section footer">
    <div class="container">
      <div class="row">
        <div class="one-half column footer-address">
          Clifton Springs Hospital and Clinic<br/>
          Suite 1300<br/>
          4 Coulter Road<br/>
          Clifton Springs, NY 14432-1122<br/>
        </div>
        <div class="one-half column footer-contact">
          P: (315) 462 - 3553<br/>
          F: (315) 462 - 3104<br/>
          integrativefamilycare@gmail.com<br/>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns copy">
          &copy; 2015 Integrative Family Care at the Springs
        </div>
      </div>
    </div>
  </div>

</body>
</html>
